
.aboutme-Img {
    max-width: 100%;
    border: 10px solid #ffffff;
    border-radius: 5px;
    position: relative;
    box-shadow: 1px 3px 10px 1px rgba(38, 59, 94, 0.1)
}

.section-title h2 {
    color: black;
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
}
