/* Timeline Container */
 .card-header{
    left: 0;
    top: 0;
    border-radius: 25px 25px 0 25px;
    background-color: #164863;
    color: white;
    text-align: left;
    font-size: 20px;
}


.font-year {
    font-size: 15px;
}

.year-text-right {
    text-align: right;
}

/* Card container */
.card {
    position: relative;
    max-width: 600px;
    max-width: 600px;
}

.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    border: solid #164863;
}

.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
}

.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
}

.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: rgba(190, 147, 197, 0.1);
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

.title {
    color: #164863;
    position: relative;
}

.title::selection {
    color: white;
    background-color: #164863;
}


.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #164863;
    border: 1px solid #164863;
    border-left: 10px solid #164863;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
}


.card:nth-child(even) > .info > .title {
    text-align: right;
}


.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}


.card:nth-child(even) > .info > .title::before {
    right: -45px;
    border-right: 10px solid #164863;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    border-top: 10px solid white;

}

/*Softwae images*/
.box {
    width: 90px;
    height: 90px;
    /*  border: 3px solid black;*/
    justify-content: center;
    display: inline-block;
    margin: 10px;
}

.div > img {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

/*download button*/
.btn-downloadcv {
    width: 200px;
    height: 50px;
    background-color: #164863;
    border-radius: 5px;
    border: 0;
    transition: 0.5s;

}

.btn-downloadcv a {
    color: white;
    text-decoration: none;
}

.btn-downloadcv:hover {
    background-color: #164863;
    border-radius: 5px;
    border: 2px solid white;
}

.btn-downloadcv a:hover {
    color: white;
    text-decoration: none;
}
