/*Apply highlighter*/
.main-subtitle::selection {
    color: #a2a8c8;
    background-color: white;
}

/*Main image*/

/*.main-image {
    width: 250px;
    height: 250px;
    border-color: black;
    border-bottom-right-radius: 150PX;
    border-bottom-left-radius: 150PX;
   background-image: url("assents/Images/homepageImage.png");
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}*/

/*home page mail button*/
.btn-mailme {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #a2a8c8;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;

}

.btn-mailme {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration:none;
    color: #a2a8c8;

}
.btn-Preview:visited  {
    color: #a2a8c8;
}
.btn-Preview:link {
    color: #a2a8c8;
}

.btn-mailme:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 7px;
    right: -20px;
    transition: 0.5s;

}

.btn-mailme:hover {
    padding-right: 24px;
    padding-left: 8px;
    color: #a2a8c8;
}

.btn-mailme:hover:after {
    opacity: 1;
    right: 10px;
}

.cricle1{
    position: absolute;
    right: 0;
    top: 50px;

}
.cricle2 {
    position: absolute;
    left: 0;
    top: 220px;
}

.cricle3{
    position: absolute;
    right: 0px;
    top: 550px;
}

.cricle4 {
    position: absolute;
    left: 0;
    top: 1020px;
}

.cricle5{
    position: absolute;
    right: 0px;
    top: 850px;
}


.cricle6 {
    position: absolute;
    left: 0;
    top: 1500px;
}
